<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autoID</key>
		<integer>2</integer>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va9wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA2AIAAAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHN0dWRlbnQABwAAAAEB
		AABMaWJyYXJ5ABQAAAABAQAAQXV0b3NhdmUgSW5mb3JtYXRpb24iAAAAAQEA
		AFVuc2F2ZWQgWGNvZGUgRG9jdW1lbnQueGN3b3Jrc3BhY2UAABQAAAABBgAA
		BAAAABQAAAAkAAAANAAAAFAAAAAIAAAABAMAAEAkBgAAAAAACAAAAAQDAAAz
		RAgAAAAAAAgAAAAEAwAAOEQIAAAAAAAIAAAABAMAAJs4GQAAAAAACAAAAAQD
		AAARsScAAAAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgAAAAIAAAAAAQA
		AEHBZSiSgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
		BAMAAAMAAAAAAAAABAAAAAMDAAD2AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
		AQAATWFjaW50b3NoIEhECAAAAAQDAAAAgJyt6AAAAAgAAAAABAAAQcDEXTSA
		AAAkAAAAAQEAADM5QjRCNThFLTBBQ0EtM0JERi1BRkYwLUFGRDdBNTc3MUUy
		NhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
		AAAAAAEFAADZAAAAAQIAADIzNWNjMjU0MjIyMmNhYTRkOWRkZjU2ODdkMDIy
		YTU2ZmI4OTY3MTQ7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAy
		MDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAw
		MjswMDAwMDAwMDAwMjdiMTExOy91c2Vycy9zdHVkZW50L2xpYnJhcnkvYXV0
		b3NhdmUgaW5mb3JtYXRpb24vdW5zYXZlZCB4Y29kZSBkb2N1bWVudC54Y3dv
		cmtzcGFjZQAAAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAB8AAAAAAAAAAUQ
		AADoAAAAAAAAABAQAAAUAQAAAAAAAEAQAAAEAQAAAAAAAAIgAADgAQAAAAAA
		AAUgAABQAQAAAAAAABAgAABgAQAAAAAAABEgAACUAQAAAAAAABIgAAB0AQAA
		AAAAABMgAACEAQAAAAAAACAgAADAAQAAAAAAADAgAADsAQAAAAAAAAHAAAA0
		AQAAAAAAABHAAAAUAAAAAAAAABLAAABEAQAAAAAAAIDwAAD0AQAAAAAAAA==
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2019-07-01T14:33:10Z</date>
		<key>uniquingNumber</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
